:root {
  --MarineBlue: hsl(213, 96%, 18%);
  --PurplishBlue: hsl(243, 100%, 62%);
  --PastelBlue: hsl(228, 100%, 84%);
  --LightBlue: hsl(206, 94%, 87%);
  --StrawberryRed: hsl(354, 84%, 57%);
  --CoolGray: hsl(231, 11%, 63%);
  --LightGray: hsl(229, 24%, 87%);
  --Magnolia: hsl(217, 100%, 97%);
  --Alabaster: hsl(231, 100%, 99%);
  --White: hsl(0, 0%, 100%);
  --Black: hsl(0, 0%, 3%);
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
  font-size: 16px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
/* Global Styling */

p {
  color: var(--CoolGray);
}
h1,
label {
  color: var(--MarineBlue);
}

label {
  font-size: 14px;
}

button {
  outline: none;
  border: none;
  padding: 0.6rem 1rem;
  color: var(--White);
  font-weight: 700;
  background-color: var(--MarineBlue);
}

.App {
  background-color: var(--Magnolia);
  min-height: 100vh;
}

img {
  width: 100%;
}
